<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{bullets}">
    <ul class="tc-link-list ce-bullets {f:if(condition: '{data.colPos} == 0', then: 'tc-header__meta-bar__items', else: '')}">
    <f:for each="{bullets}" as="bullet">
        <li class="{f:if(condition: '{data.colPos} == 0', then: 'tc-header__meta-bar__item', else: '')}">
            <f:format.raw>{bullet}</f:format.raw>
        </li>
    </f:for>
    </ul>
</f:if>
</html>