// Grids
.gridelements{
    .tc-heading{ 
        text-align:left;
    }
}
.gridelements-cardwall{
    .tc-heading{ 
        text-align:center;
    }
    .card-text{ 
        p{
            margin:0;
        }
    }
}

