// Indexed Search
.tx-indexedsearch-form{
    margin-bottom:1rem;
}
.tx-indexedsearch-res{
    margin-bottom:1.5rem; 
    h3{
        margin-bottom:0.25rem;
        .tx-indexedsearch-title{
            font-size: 1.5rem;
            text-decoration: none;
            a{
                text-decoration: none; 
            }
        }
    }
    .tc-finder {
        min-height: 65px;
        .tc-finder__label{
            padding-top:0rem;
            margin: 0.5rem 1rem;
            .tc-finder__label-text{
                padding-top:0.5rem;
            }
            .tc-finder__input{
                margin-left:0;
                padding-left:0;
                padding-top:1.5rem;
                &:not(input) {
                    cursor: auto;
                }
            }
            :after{
                content:"";
                display: none;
            }
        }
    }
}