
// News

.news-list-view{
    .tc-heading__title{
        a{
            text-decoration: none;
        }
    }
    .row{
        margin-bottom:0;
        margin-top:0;
    }
    .news-list-item{
        &.card{
            padding-bottom: 1rem;
        }
        .news-list-img{
            img{
                max-width: 100%;
                height:auto;
            } 
        }
    }
    .pagination{ 
        margin: 0;
        margin-top:1.5rem;  
    }
}
.news-single{
    .thumbnail{
        img{
            max-width: 100%;
            height:auto;
        }
    }
    //Shariff
    .news-back{
        margin-top:1em;
    }
    .shariff{
        .shariff-button{
            padding:0;
        } 
    }
    .news-related {
        border:0px;
    }
}
