<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="tc-input">
    <f:form action="search" method="post" pluginName="{settings.pluginName}" extensionName="{settings.extensionName}" absolute="true" controller="{settings.controller}" id="tx_indexedsearch" pageUid="{settings.targetPid}" noCacheHash="{settings.hash}">
        <div class="tx-indexedsearch-hidden-fields">
            <f:form.hidden name="search[_sections]" value="0"/>
            <f:form.hidden name="search[_freeIndexUid]" id="tx_indexedsearch_freeIndexUid_searchbox" value="_"/>
            <f:form.hidden name="search[pointer]" id="tx_indexedsearch_pointer_searchbox" value="0"/>
            <f:form.hidden name="search[ext]" value="{settings.ext}"/>
            <f:form.hidden name="search[searchType]" value="{settings.searchType}"/>
            <f:form.hidden name="search[defaultOperand]" value="{settings.defaultOperand}"/>
            <f:form.hidden name="search[mediaType]" value="{settings.mediaType}"/>
            <f:form.hidden name="search[sortOrder]" value="{settings.sortOrder}"/>
            <f:form.hidden name="search[group]" value="{settings.group}"/>
            <f:form.hidden name="search[languageUid]" value="{settings.languageUid}"/>
            <f:form.hidden name="search[desc]" value="{settings.desc}"/>
            <f:form.hidden name="search[numberOfResults]" value="{settings.numberOfResults}"/>
            <f:form.hidden name="search[extendedSearch]" value="{settings.extendedSearch}"/>
        </div>
        <div class="tx-indexedsearch-form pull-xs-right" style="color: black;">
            <!--<label for="tx-indexedsearch-searchbox-sword">-->
                <!--<f:translate key="form.searchFor"/>-->
                <!--:</label>-->
            <f:form.textfield name="search[sword]" value="{sword}" id="tx-indexedsearch-searchbox-sword_searchbox" placeholder="{f:translate(key: 'form.placeholder')}" class="tc-text-input tc-input__input tc-text-input--with-addon"/>
            <f:form.button name="search[submitButton]" value="{f:translate(key: 'form.submit')}" id="tx-indexedsearch-searchbox-button-submit" class="tc-input__addon"/>
        </div>
    </f:form>
</div>
</html>
