<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">

    <f:if condition="{menu}">
        <nav class="navbar">
            <ul class="navbar-nav menuPages">
                <f:for each="{menu}" as="page">
                    <li class="nav-item">
                        <a href="{page.link}"{f:if(condition: page.target, then: ' target="{page.target}"')} title="{page.title}">
                            <f:if condition="{data.layout}==1">
                                <span class="fas fa-chevron-right me-2" aria-hidden="true"></span>
                            </f:if>
                            <span>{page.title}</span>
                            <f:debug>{_all}</f:debug>
                        </a>
                    </li>
                </f:for>
            </ul>
        </nav>
    </f:if>

</f:section>
</html>
