<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" 
      xmlns:sp="http://typo3.org/ns/Stackfactory/Sitepackage/ViewHelpers" 
      data-namespace-typo3-fluid="true">

<f:section name="Footer">
    <footer class="footer pt-4 bg-secondary">

        <div class="container-md footer-menu">
            <div class="row">
                <div class="col-md-3 col-6">
                    <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{colPos: '10'}" />
                </div>
                <div class="col-md-3 col-6">
                    <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{colPos: '11'}" />
                </div>
                <div class="col-md-3 col-6">
                    <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{colPos: '12'}" />
                </div>
                <div class="col-md-3 col-6">
                    <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{colPos: '13'}" />
                </div>
            </div>
        </div>
        
        <div class="container-fluid footer-copyright bg-dark">
            <div class="container-xxl">
                <div class="col-md-12 text-center">
                    <f:cObject typoscriptObjectPath="lib.copyright" /><f:cObject typoscriptObjectPath="lib.sitename" />
                </div>
            </div>
        </div>
    </footer>
</f:section>

</html>