// Uploads
.ce-uploads{
    margin-left:-1rem;
    li{
        padding:1rem;
        margin:0;
        display: inline-block;
    }
    button{
        margin-right:1rem;
    }
} 

.btn-primary{
    span{
        a{
            color:#fff;
            text-decoration:none;
        }
    }
} 
